*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f3f3f3;
  font-size: 16px;
  height: 3000px;
}

.noPadding {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#crtBgShape1, #crtBgShape2 {
  position: fixed;
  left: 0;
  z-index: -1;
}
#crtBgShape1 polygon, #crtBgShape2 polygon {
  fill: #e1e1e1;
}

#crtBgShape2 {
  top: -100px;
  right: -100px;
  left: auto;
}
#crtBgShape2 polygon {
  fill: #c0e3e7;
}

.top-nav {
  font-size: 26px;
  padding: 20px 0;
}
.top-nav .brand img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.top-nav .brand h3 {
  font-family: 'Pacifico', cursive;
  color: #010101;
  display: inline-block;
  text-transform: capitalize;
  vertical-align: top;
}

.affix-top {
  position: static;
  width: 292px !important;
}

.affix {
  position: fixed !important;
  top: 50px;
  width: 292px !important;
}

@media (max-width: 991px) {
  .affix-top {
    position: relative;
    width: 100% !important;
  }

  .affix {
    position: static !important;
    top: auto;
    width: 100% !important;
    margin-bottom: 20px;
  }
}
.profileCard {
  text-align: center;
  color: #010101;
  -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}
.profileCard .profileInfo {
  background: #c0e3e7;
  padding: 20px;
}
.profileCard .profileInfo .profileImg {
  width: 200px;
  height: 200px;
  margin: auto;
}
.profileCard .profileInfo .profileImg img {
  border-radius: 50%;
}
.profileCard .profileInfo h3 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.profileCard .profileInfo p {
  margin: 15px 0 30px;
}
.profileCard .profileInfo ul {
  padding: 0;
}
.profileCard .profileInfo ul li {
  display: inline-block;
  margin: 0 15px;
}
.profileCard .profileFoot {
  background: #FFF;
}
.profileCard .profileFoot button {
  margin: 35px 0;
  border-radius: 35px;
  border: none;
  background-color: #c0e3e7;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}
.profileCard .profileFoot button:hover {
  -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 3px;
}

.widget {
  padding: 30px 20px;
  background: #FFF;
  border: 1px solid #e1e1e1;
  margin-bottom: 15px;
}
.widget .widgetHead h3 {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  z-index: 0;
  display: inline-block;
}
.widget .widgetHead h3:after {
  content: "";
  width: 80%;
  height: 20px;
  background: #c0e3e7;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}
.widget .widgetHead p {
  margin: 20px 0;
  letter-spacing: 0.08em;
}
.widget .widgetHead hr {
  background: #e1e1e1;
  margin-bottom: 30px;
}
.widget .widgetBody .personalInfo {
  font-size: 0.85em;
}
.widget .widgetBody .personalInfo h4 {
  margin-bottom: 35px;
}
.widget .widgetBody .personalInfo .info {
  float: left;
  width: 120px;
  font-weight: 700;
  text-transform: uppercase;
}
.widget .widgetBody .personalInfo .myinfo {
  margin-left: 120px;
  margin-bottom: 10px;
}
.widget .widgetBody .personalInfo .myinfo span {
  position: relative;
}
.widget .widgetBody .personalInfo .myinfo span .online {
  font-size: 5px;
  position: absolute;
  left: 110%;
  top: 1px;
  background: #0b8457;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.widget .widgetBody .personalInfo .tooltip {
  position: relative;
  float: right;
}
.widget .widgetBody .personalInfo .tooltip > .tooltip-inner {
  background-color: #c0e3e7;
  padding: 5px 10px;
  color: #172c42;
  font-weight: bold;
  font-size: 0.9em;
}
.widget .widgetBody .personalInfo .popOver + .tooltip > .tooltip-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #c0e3e7;
}
.widget .widgetBody .personalInfo .barWrapper {
  margin-bottom: 20px;
}
.widget .widgetBody .personalInfo .progressText {
  margin-bottom: 7px;
  display: inline-block;
}
.widget .widgetBody .personalInfo .progress {
  height: 9px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: visible;
}
.widget .widgetBody .personalInfo .progress .progress-bar {
  background: #c0e3e7;
}
.widget .widgetBody .progressImg .imgskills {
  display: inline-block;
  width: 130px;
  text-align: center;
}
.widget .widgetBody .progressImg .bullet {
  display: inline-block;
}
.widget .widgetBody .progress-chart h5 {
  margin-bottom: 10px;
  font-weight: 700;
}
.widget .widgetBody .progress-chart .bullet span {
  width: 17px;
  height: 17px;
  border: 1px solid #c0e3e7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.widget .widgetBody .progress-chart .bullet span.fill {
  background: #c0e3e7;
}
.widget .widgetBody .styledSkills p {
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.widget .widgetBody .styledSkills p::before {
  content: "\f00c";
  margin-right: 15px;
  font-family: FontAwesome;
  margin-bottom: 5px;
  float: left;
  display: inline-block;
}

nav ul li {
  height: 65px;
  width: 65px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 65px;
}
nav ul li a {
  font-size: 30px;
  color: inherit;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.8;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover, nav ul li a.active, nav ul li a:focus {
  opacity: 1;
  background: #FFF;
  color: inherit !important;
  -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}
nav ul li a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


