*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f3f3f3;
  font-size: 16px;
}

.noPadding {
  padding: 0;
}

.custom-btn {
  margin: 35px 0;
  border-radius: 35px;
  border: none;
  background-color: #c0e3e7;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}
.custom-btn:hover {
  -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 3px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

#crtBgShape1,
#crtBgShape2 {
  position: fixed;
  left: 0;
  z-index: -1;
}
#crtBgShape1 polygon,
#crtBgShape2 polygon {
  fill: #e1e1e1;
}

#crtBgShape2 {
  top: -100px;
  right: -100px;
  left: auto;
}
#crtBgShape2 polygon {
  fill: #c0e3e7;
}

.top-nav {
  font-size: 26px;
  padding: 20px 0;
}
.top-nav .brand img {
  /* width: 120px; */
  height: 60px;
  display: inline-block;
  position: relative;
}
.top-nav .brand a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 33;
}
.alertM {
  background: #f00;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 7px 15px;
  z-index: 2222;
}
.alertM i.fa-times {
  float: right;
  cursor: pointer;
}
.alertM p {
  margin: 0;
}
.alertM p i {
  margin: 0 7px;
}

.affix-top {
  position: static;
}

.affix {
  position: fixed !important;
  top: 50px;
  width: 292px !important;
}

@media (max-width: 991px) {
  #stickycard.affix-top {
    position: relative;
    width: 100% !important;
  }

  #stickycard.affix {
    position: static !important;
    top: auto;
    width: 100% !important;
    margin-bottom: 20px;
  }
}
.profileCard {
  text-align: center;
  color: #010101;
  -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}
.profileCard .profileInfo {
  background: #c0e3e7;
  padding: 20px;
  
}
.profileCard .profileInfo .profileImg {
  width: 200px;
  height: 200px;
  margin: auto;
  
}

.profileCard .profileInfo .profileImg img {
  border-radius: 50%;
}

.profileCard .profileInfo h3 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.profileCard .profileInfo p {
  margin: 15px 0 30px;
}
.profileCard .profileInfo ul {
  padding: 0;
}
.profileCard .profileInfo ul li {
  display: inline-block;
  margin: 0 15px;
}
.profileCard .profileFoot {
  background: #fff;
}
.profileCard .profileFoot a {
  display: inline-block;
}

.widget {
  padding: 30px 20px;
  background: #fff;
  border: 1px solid #e1e1e1;
  margin-bottom: 15px;
}
.widget .widgetHead h3 {
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-bottom: 30px;
}
.widget .widgetHead h3:after {
  content: "";
  width: 80%;
  height: 20px;
  background: #c0e3e7;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}
.widget .widgetHead p {
  margin: 20px 0;
  letter-spacing: 0.08em;
}
.widget .widgetHead hr {
  background: #e1e1e1;
  margin-bottom: 30px;
}
.widget .widgetBody .personalInfo {
  font-size: 0.85em;
}
.widget .widgetBody .personalInfo h4 {
  margin-bottom: 35px;
}
.widget .widgetBody .personalInfo .info {
  float: left;
  width: 120px;
  font-weight: 700;
  text-transform: uppercase;
}
.widget .widgetBody .personalInfo .myinfo {
  margin-left: 120px;
  margin-bottom: 10px;
}
.widget .widgetBody .personalInfo .myinfo span {
  position: relative;
}
.widget .widgetBody .personalInfo .myinfo span .online {
  font-size: 5px;
  position: absolute;
  left: 110%;
  top: 1px;
  background: #0b8457;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.widget .widgetBody .personalInfo .tooltip {
  position: relative;
  float: right;
}
.widget .widgetBody .personalInfo .tooltip > .tooltip-inner {
  background-color: #c0e3e7;
  padding: 5px 10px;
  color: #172c42;
  font-weight: bold;
  font-size: 0.9em;
}
.widget .widgetBody .personalInfo .popOver + .tooltip > .tooltip-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #c0e3e7;
}
.widget .widgetBody .personalInfo .barWrapper {
  margin-bottom: 20px;
}
.widget .widgetBody .personalInfo .progressText {
  margin-bottom: 7px;
  display: inline-block;
}
.widget .widgetBody .personalInfo .progress {
  height: 9px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: visible;
}
.widget .widgetBody .personalInfo .progress .progress-bar {
  background: #c0e3e7;
}
.widget .widgetBody .progressImg .imgskills {
  display: inline-block;
  width: 130px;
  text-align: center;
}
.widget .widgetBody .progressImg .bullet {
  display: inline-block;
  vertical-align: middle;
}
.widget .widgetBody .progressImg .bullet p {
  text-transform: uppercase;
}
.widget .widgetBody .progress-chart h5 {
  margin-bottom: 10px;
  font-weight: 700;
}
.widget .widgetBody .progress-chart .bullet span {
  width: 17px;
  height: 17px;
  border: 1px solid #c0e3e7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.widget .widgetBody .progress-chart .bullet span.fill {
  background: #c0e3e7;
}
.widget .widgetBody .styledSkills p {
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.widget .widgetBody .styledSkills p::before {
  content: "\f00c";
  margin-right: 15px;
  font-family: FontAwesome;
  margin-bottom: 5px;
  float: left;
  display: inline-block;
}

nav ul li {
  text-align: center;
  margin-bottom: 20px;
  line-height: 65px;
  height: 65px;
  width: 65px;
}
nav ul li a {
  font-size: 30px;
  color: inherit;
  height: 65px;
  width: 65px;
  margin: auto;
  display: block;
  opacity: 0.8;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover,
nav ul li a.active {
  opacity: 1;
  background: #fff;
  -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}
nav ul li a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 767px) {
  nav.affix-top {
    position: relative;
    width: 100% !important;
  }

  nav.affix {
    position: static !important;
    top: auto;
    width: 100% !important;
    margin-bottom: 20px;
  }

  nav ul {
    overflow: hidden;
  }
  nav ul li {
    float: left;
    width: 20%;
  }
}
/* ================ The Timeline ================ */
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(80, 80, 80, 0)),
    color-stop(8%, #505050),
    color-stop(92%, #505050),
    to(rgba(80, 80, 80, 0))
  );
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -35px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #c0e3e7;
  z-index: 10;
}

.direction-r .flag:before {
  left: -35px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #fa5050;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
  text-transform: capitalize;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
.timeline .desc a {
  text-decoration: underline;
  color: #7db9e8;
}
/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: white;
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    top: -20px;
    left: calc(50% - 6px);
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    left: 50%;
    top: -8px;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: whitesmoke;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
}
@media screen and (min-width: 400px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}
.works {
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}
.works .worksImg img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.works .worksContent {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.works .worksContent .innerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.works .worksContent .innerContent h4 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.3em;
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.works .worksContent .innerContent p {
  color: #fff;
  text-transform: capitalize;
}
.works .worksContent .innerContent a {
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  margin-top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.works:hover img,
.works:focus img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.works:hover .worksContent,
.works:focus .worksContent {
  opacity: 1;
}
.works:hover .worksContent h4,
.works:hover .worksContent a,
.works:focus .worksContent h4,
.works:focus .worksContent a {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/*   intersts*/
.interst {
  margin-bottom: 25px;
}
.interst span {
  text-transform: capitalize;
}
.interst span i {
  color: #c0e3e7;
  margin-right: 10px;
  font-size: 1.3em;
}

/* map */
.map {
  width: 100%;
  height: 250px;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/* widgetBody*/
#contact .widgetBody {
  padding: 0 50px;
}
#contact .widgetBody p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .widgetBody {
    padding: 20px !important;
  }
}
/* socialLinks */
.socialLinks ul {
  margin: 30px 0;
}
.socialLinks ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.5em;
}

/* form-group */
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-weight: 300;
  font-size: 0.8em;
}
.form-group label span {
  color: #fa5050;
  font-size: 1.5em;
  font-weight: bold;
}
.form-group textarea {
  height: 150px;
  resize: vertical;
}
.form-group button {
  margin: 15px 0;
}
.form-group .form-control {
  background: #f3f3f3;
  border: none;
  padding: 20px 10px;
}
.form-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
}

.graduate h2 {
  margin-bottom: 25px;
  padding-top: 20px;
  border-top: 1px solid #010101;
}
.graduate iframe {
  width: 100%;
  height: 315px;
  border: 0;
}

.exp-card {
  overflow: hidden;
  box-shadow: 0px 5px 5px 3px rgba(31, 51, 73, 0.1);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  height: 85px;
  margin-bottom: 30px;
  position: relative;
}
.exp-card a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.exp-card:hover {
  box-shadow: none;
}
.exp-card .exp-image {
  float: left;
  width: 85px;
  height: 100%;
  padding: 11px;
  background-color: #c0e3e7;
}
.exp-card .exp-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.exp-card .exp-info {
  float: right;
  width: calc(100% - 100px);
}
.exp-card .exp-info h4 {
  font-weight: bold;
  color: #000000;
  margin-bottom: 3px;
  font-size: 18px;
  text-transform: capitalize;
}
.exp-card .exp-info p {
  margin: 0;
  font-size: 15px;
}
.exp-card .exp-info p:last-child {
  font-size: 13px;
  color: #a7a7a7;
}
/* prof-card
========================*/
.prof-card {
  overflow: hidden;
  box-shadow: 0px 5px 5px 3px rgba(31, 51, 73, 0.1);
  transition: all 0.3s cubic-bezier(0.53, -0.01, 0, 1.49);
  padding: 10px 15px;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}
.prof-card:hover {
  transform: translateY(-5px);
}
.prof-card .prof-card-img {
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
  background-color: #c0e3e7;
}
.prof-card .prof-card-img img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.prof-card .prof-card-info {
  align-self: center;
}
.prof-card .prof-card-info p {
  margin: 0 15px;
}
#portfolio .workInfo {
  padding: 10px 5px;
  box-shadow: 0px 5px 5px 3px rgba(31, 51, 73, 0.1);
  margin-bottom: 30px;
}
#portfolio .workInfo h4 {
  margin: 0;
  text-transform: capitalize;
}
#portfolio .workInfo p {
  margin: 5px 0;
  text-transform: capitalize;
}
.projects .profileCard {
  margin-bottom: 30px;
}
.projects .profileCard .profileInfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projects .profileCard .profileInfo .profileImg {
  margin: 0
}
.projects .profileCard .custom-btn{
  animation: popup 1.3s infinite ease-in-out ;
}
.showMore{
  text-align: center;
  margin: 15px 0
}
.showMore a{
  animation: popup 1s infinite ease-in-out ;
}
@media(max-width:767px){
  .projects .profileCard .profileInfo{
    display: block;
  }
  .projects .profileCard .profileInfo .profileImg {
    margin: auto
  }
  nav ul li:first-child{
    display: none
  }
}


@keyframes popup{
  0%,100%{
    -webkit-box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 7px 15px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 3px;
  }
  50%{
    -webkit-box-shadow:none;
    box-shadow: none;
    letter-spacing: 1px;
  }
}
